/* Index */

.mainNav {
    text-align: center;
    text-decoration: none;
    color: black;
}

.mainNav h1 {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.mainNav a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 10px;
}

ul li {
    padding: 1.8%;
    background-color: rgb(221, 221, 221);
    margin: 10% auto;
    width: 20%;
    list-style-type: none;
    text-align: center;
    font-size: 30px;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    color: aliceblue;
}

nav {
    text-align: end;
}

/* Category */

#categorylist {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    width: 60%;
    margin: 100px auto;
}

#categorylist li {
    padding: 20px;
    list-style-type: none;
    margin: 0 auto;
    background-color: rgb(221, 221, 221);
    justify-content: space-between;
}

#categorylist li a{
    color: black;
    text-decoration: none;
    text-align: center;
}

#categorylist li:hover {
    background-color: #838383;
}


/* productlist */

#productTemplate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.smallProduct {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.smallProduct a{
      text-decoration: none;
      color: black;
  }
  
  .smallProduct img {
    max-width: 100%;
    height: auto;
  }

main h2 {
    text-align: center;
    margin-top: 7%;
    font-family: fantasy;
}



/* Product */

.none {
    display: none;
}

.productImg {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.purchaseBox {
    text-align: center;
}

.info {
        width: 40%; /* Define the width of the info section */
        max-width: 800px; /* Optional: limit the max width for larger screens */
        margin: 100px auto; /* Center the section horizontally */
        text-align: left;
        background-color: rgb(221, 221, 221);
    }
    
    dl {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    dt,
    dd {
      display: block;
      margin-left: 0;
      padding-left: 0;
      padding-top: 10px;
        padding-bottom: 10px;
    }
    dt {
      font-weight: 500;
      margin-bottom: 0px;
      padding-bottom: 0px;
      clear: both;
      background-color: #dadada;
    }
    
    dd {
      margin-top: 0px;
      padding-top: 0px;
      padding-bottom: 10px;
      background-color: #f6f0e8;
    }


/* Put on classes */

.soldOut {
    opacity: 0.5;
}
.onSale {
    background-color: brown;
}

.removeDiscount {
    display: none;
}
